.logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo h1 {
  padding-left: 10px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
  font-size: 2rem;
  color: #f7f7f8;
}

.logo img {
  width: 5rem;
  height: auto;
  padding: 10px;
}
