.listContainer {
  padding: 1rem;
  margin-right: 12rem;
}

.listContainer ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  list-style: none;
}

.listContainer ul li {
  list-style: none;
  cursor: pointer;
  font-size: 22px;
  letter-spacing: 1px;
  font-family: inherit;
  font-weight: 400;
}

.listContainer a {
  color: #f7f7f8;
  text-decoration: none;
}

.listContainer a:global(.active) {
  color: #f7f7f8;
  list-style: none;
}
